name: csharp darwin snippets

on: [pull_request, workflow_dispatch]

permissions:
  contents: read
  pull-requests: write

jobs:
  csharp-darwin-snippets:
    runs-on: macos-latest
    strategy:
      matrix:
        include:
          - dotnet-version: "8"

    steps:
      - name: checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ matrix.dotnet-version }}

      - name: install Senzing SDK
        uses: senzing-factory/github-action-install-senzing-sdk@v2
        with:
          senzingsdk-repository-path: ${{ secrets.SENZING_OSX_BETA_REPOSITORY }}

      - name: configure local nuget repo
        run: |
          find /opt/senzing/er/lib/ -name "Senzing.Sdk*" | xargs -0 -L 1 basename
          sdk_package=$(find /opt/senzing/er/lib/ -name "Senzing.Sdk*" | xargs -L 1 basename)
          mkdir -p ~/dev/nuget/packages
          dotnet nuget add source ~/dev/nuget/packages -n dev
          dotnet nuget push /opt/senzing/er/lib/"${sdk_package}" --source dev

      - name: run csharp snippets
        env:
          DYLD_LIBRARY_PATH: "/opt/senzing/er/lib"
          SENZING_DATA_DIR: "/opt/senzing/er/data"
        run: |
          cd "${GITHUB_WORKSPACE}"/csharp/runner
          dotnet add SnippetRunner package Senzing.Sdk --version 4.0.0-beta
          dotnet run --project SnippetRunner all
