name: csharp darwin snippets

on:
  pull_request:
  schedule:
    - cron: "15 7 * * *"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  csharp-darwin-snippets:
    outputs:
      status: ${{ job.status }}
    permissions:
      contents: read
      pull-requests: write
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        senzingsdk-version: [production-v4, staging-v4]
        include:
          - dotnet-version: "8"

    steps:
      - name: checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ matrix.dotnet-version }}

      - name: install Senzing SDK
        uses: senzing-factory/github-action-install-senzing-sdk@v3
        with:
          senzingsdk-version: ${{ matrix.senzingsdk-version }}

      - name: configure environment
        run: |
          SENZING_PATH="${HOME}/senzing"
          {
            echo "DYLD_LIBRARY_PATH=${SENZING_PATH}/er/lib"
          } >> "$GITHUB_ENV"

      - name: configure local nuget repo
        run: |
          sdk_package=$(find "${HOME}"/senzing/er/sdk/dotnet/ -name "Senzing.Sdk*" | xargs -0 -L 1 basename)
          mkdir -p ~/dev/nuget/packages
          dotnet nuget add source ~/dev/nuget/packages -n dev
          dotnet nuget push "${HOME}"/senzing/er/sdk/dotnet/"${sdk_package}" --source dev

      - name: run csharp snippets
        run: |
          cd "${GITHUB_WORKSPACE}"/csharp/runner
          dotnet add SnippetRunner package Senzing.Sdk --version 4.0.0-beta
          dotnet run --project SnippetRunner all

  slack-notification:
    needs: [csharp-darwin-snippets]
    if: ${{ always() && contains(fromJSON('["failure", "cancelled"]'), needs.csharp-darwin-snippets.outputs.status ) && github.event_name == 'schedule' }}
    secrets:
      SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
    uses: senzing-factory/build-resources/.github/workflows/build-failure-slack-notification.yaml@v2
    with:
      job-status: ${{ needs.csharp-darwin-snippets.outputs.status }}
