name: csharp windows snippets

on: [pull_request, workflow_dispatch]

permissions:
  contents: read
  pull-requests: write

jobs:
  csharp-windows-snippets:
    runs-on: windows-latest
    strategy:
      matrix:
        include:
          - dotnet-version: "8"

    steps:
      - name: checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ matrix.dotnet-version }}

      - name: install Senzing SDK
        uses: senzing-factory/github-action-install-senzing-sdk@v2
        with:
          senzingsdk-repository-path: ${{ secrets.SENZING_WIN_BETA_REPOSITORY }}

      - name: configure local nuget repo
        run: |
          $Env:sdk_package = Get-ChildItem -Path C:\Program Files\Senzing\er\lib\ -Recurse | Where-Object {$_.Name -match "^Senzing.SDK*"} | Select-Object -ExpandProperty Name
          mkdir %USERPROFILE%\dev\nuget\packages
          dotnet nuget add source %USERPROFILE%\dev\nuget\packages -n dev
          dotnet nuget push C:\Program Files\Senzing\er\lib\"${Env:sdk_package}" --source dev

      - name: run csharp snippets
        env:
          SENZING_DATA_DIR: 'C:\Program Files\Senzing\er\data'
        run: |
          cd "${GITHUB_WORKSPACE}"/csharp/runner
          dotnet add SnippetRunner package Senzing.Sdk --version 4.0.0-beta
          dotnet run --project SnippetRunner all
