name: java darwin snippets

on: [pull_request, workflow_dispatch]

permissions:
  contents: read
  pull-requests: write

jobs:
  java-darwin-snippets:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        java-version: ["17", "21"]
        java-distribution: ["temurin"]

    steps:
      - name: checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v4
        with:
          distribution: ${{ matrix.java-distribution }}
          java-version: ${{ matrix.java-version }}

      - name: install Senzing SDK
        uses: senzing-factory/github-action-install-senzing-sdk@v3
        with:
          senzingsdk-repository-path: ${{ secrets.SENZING_OSX_BETA_REPOSITORY }}

      - name: build with Maven
        run: |
          # shellcheck disable=SC2034
          SENZING_DIR="${HOME}/senzing/er"
          echo "[INFO] SENZING_DIR is: $SENZING_DIR"
          ls $SENZING_DIR
          echo "-- SDK LISTING"
          ls $SENZING_DIR/sdk
          echo "-- JAVA LISTING"
          ls $SENZING_DIR/sdk/java
          cd "${GITHUB_WORKSPACE}"/java
          mvn clean install

      - name: run java snippets
        run: |
          # shellcheck disable=SC2034
          DYLD_LIBRARY_PATH="${HOME}/senzing/er/lib"
          cd "${GITHUB_WORKSPACE}"/java
          java -jar target/sz-sdk-snippets.jar all
