name: java darwin snippets

on: [pull_request, workflow_dispatch]

permissions:
  contents: read
  pull-requests: write

jobs:
  java-darwin-snippets:
    runs-on: macos-latest
    strategy:
      matrix:
        java-version: ["17", "21"]
        java-distribution: ["temurin"]

    steps:
      - name: checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v4
        with:
          distribution: ${{ matrix.java-distribution }}
          java-version: ${{ matrix.java-version }}

      - name: install Senzing SDK
        uses: senzing-factory/github-action-install-senzing-sdk@v2
        with:
          senzingsdk-repository-path: ${{ secrets.SENZING_OSX_BETA_REPOSITORY }}

      - name: build with Maven
        run: |
          cd "${GITHUB_WORKSPACE}"/java
          mvn clean install

      - name: run java snippets
        run: |
          cd "${GITHUB_WORKSPACE}"/java
          java -jar target/sz-sdk-snippets.jar all
