name: java linux snippets

on:
  push:
    branches-ignore: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read
  pull-requests: write

jobs:
  java-linux-snippets:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java-version: ["17", "21"]
        java-distribution: ["temurin"]

    steps:
      - name: checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java-version }}
          distribution: ${{ matrix.java-distribution }}

      - name: install Senzing runtime
        uses: senzing-factory/github-action-install-senzing-sdk@v2
        with:
          packages-to-install: "senzingsdk-runtime senzingsdk-setup"
          senzingsdk-repository-package: ${{ secrets.SENZING_APT_BETA_STAGING_REPOSITORY_PACKAGE }}
          senzingsdk-repository-path: ${{ secrets.SENZING_APT_BETA_STAGING_REPOSITORY_URL }}

      - name: build with Maven
        env:
          SENZING_DIR: "/opt/senzing/er"
        run: |
          cd "${GITHUB_WORKSPACE}"/java
          mvn clean package

      - name: run java snippets
        env:
          LD_LIBRARY_PATH: "/opt/senzing/er/lib:${LD_LIBRARY_PATH}"
        run: |
          cd "${GITHUB_WORKSPACE}"/java
          java -jar target/sz-sdk-snippets.jar all
