name: java windows snippets

on: [pull_request, workflow_dispatch]

permissions:
  contents: read
  pull-requests: write

jobs:
  java-windows-snippets:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        java-version: ["17", "21"]
        java-distribution: ["temurin"]

    steps:
      - name: checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java-version }}
          distribution: ${{ matrix.java-distribution }}

      - name: install Senzing SDK
        uses: senzing-factory/github-action-install-senzing-sdk@v3
        with:
          senzingsdk-repository-path: ${{ secrets.SENZING_WIN_BETA_REPOSITORY }}

      - name: build with Maven
        run: |
          $Env:SENZING_DIR = "$Env:USERPROFILE\Senzing\er"
          cd "${Env:GITHUB_WORKSPACE}/java"
          mvn clean install

      - name: Add to "Path" environment variable
        run: |
          Add-Content $env:GITHUB_PATH "$Env:USERPROFILE\Senzing\er\lib"

      - name: run java snippets
        run: |
          cd "${Env:GITHUB_WORKSPACE}/java"
          java "-Dsenzing.install.dir=$Env:USERPROFILE\Senzing\er" -jar target/sz-sdk-snippets.jar all
